{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react", "^@?material-ui", "^@?graasp", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
